LB4.BookServiceWebClientOnTomcat/src/main/resources/books.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://order.nure.ua/server/service" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://order.nure.ua/server/service"
	name="Books">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://order.nure.ua/server/service"
				schemaLocation="books1.xsd"></xsd:import>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://order.nure.ua/entity"
				schemaLocation="books2.xsd"></xsd:import>
		</xsd:schema>
	</types>
	<message name="findByTitle">
		<part name="parameters" element="tns:findByTitle"></part>
	</message>
	<message name="findByTitleResponse">
		<part name="parameters" element="tns:findByTitleResponse"></part>
	</message>
	<message name="findByAuthor">
		<part name="parameters" element="tns:findByAuthor"></part>
	</message>
	<message name="findByAuthorResponse">
		<part name="parameters" element="tns:findByAuthorResponse"></part>
	</message>
	<message name="getBook">
		<part name="parameters" element="tns:getBook"></part>
	</message>
	<message name="getBookResponse">
		<part name="parameters" element="tns:getBookResponse"></part>
	</message>
	<message name="DAOException">
		<part name="fault" element="tns:DAOException"></part>
	</message>
	<message name="listBooks">
		<part name="parameters" element="tns:listBooks"></part>
	</message>
	<message name="listBooksResponse">
		<part name="parameters" element="tns:listBooksResponse"></part>
	</message>
	<message name="addBook">
		<part name="parameters" element="tns:addBook"></part>
	</message>
	<message name="addBookResponse">
		<part name="parameters" element="tns:addBookResponse"></part>
	</message>
	<message name="deleteBook">
		<part name="parameters" element="tns:deleteBook"></part>
	</message>
	<message name="deleteBookResponse">
		<part name="parameters" element="tns:deleteBookResponse"></part>
	</message>
	<portType name="BookService">
		<operation name="findByTitle">
			<input
				wsam:Action="http://order.nure.ua/server/service/BookService/findByTitleRequest"
				message="tns:findByTitle"></input>
			<output
				wsam:Action="http://order.nure.ua/server/service/BookService/findByTitleResponse"
				message="tns:findByTitleResponse"></output>
		</operation>
		<operation name="findByAuthor">
			<input
				wsam:Action="http://order.nure.ua/server/service/BookService/findByAuthorRequest"
				message="tns:findByAuthor"></input>
			<output
				wsam:Action="http://order.nure.ua/server/service/BookService/findByAuthorResponse"
				message="tns:findByAuthorResponse"></output>
		</operation>
		<operation name="getBook">
			<input
				wsam:Action="http://order.nure.ua/server/service/BookService/getBookRequest"
				message="tns:getBook"></input>
			<output
				wsam:Action="http://order.nure.ua/server/service/BookService/getBookResponse"
				message="tns:getBookResponse"></output>
			<fault message="tns:DAOException" name="DAOException"
				wsam:Action="http://order.nure.ua/server/service/BookService/getBook/Fault/DAOException"></fault>
		</operation>
		<operation name="listBooks">
			<input
				wsam:Action="http://order.nure.ua/server/service/BookService/listBooksRequest"
				message="tns:listBooks"></input>
			<output
				wsam:Action="http://order.nure.ua/server/service/BookService/listBooksResponse"
				message="tns:listBooksResponse"></output>
		</operation>
		<operation name="addBook">
			<input
				wsam:Action="http://order.nure.ua/server/service/BookService/addBookRequest"
				message="tns:addBook"></input>
			<output
				wsam:Action="http://order.nure.ua/server/service/BookService/addBookResponse"
				message="tns:addBookResponse"></output>
			<fault message="tns:DAOException" name="DAOException"
				wsam:Action="http://order.nure.ua/server/service/BookService/addBook/Fault/DAOException"></fault>
		</operation>
		<operation name="deleteBook">
			<input
				wsam:Action="http://order.nure.ua/server/service/BookService/deleteBookRequest"
				message="tns:deleteBook"></input>
			<output
				wsam:Action="http://order.nure.ua/server/service/BookService/deleteBookResponse"
				message="tns:deleteBookResponse"></output>
			<fault message="tns:DAOException" name="DAOException"
				wsam:Action="http://order.nure.ua/server/service/BookService/deleteBook/Fault/DAOException"></fault>
		</operation>
	</portType>
	<binding name="BookPortBinding" type="tns:BookService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document"></soap:binding>
		<operation name="findByTitle">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="findByAuthor">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getBook">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="DAOException">
				<soap:fault name="DAOException" use="literal"></soap:fault>
			</fault>
		</operation>
		<operation name="listBooks">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="addBook">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="DAOException">
				<soap:fault name="DAOException" use="literal"></soap:fault>
			</fault>
		</operation>
		<operation name="deleteBook">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="DAOException">
				<soap:fault name="DAOException" use="literal"></soap:fault>
			</fault>
		</operation>
	</binding>
	<service name="Books">
		<port name="BookPort" binding="tns:BookPortBinding">
			<soap:address location="http://localhost:9000/books"></soap:address>
		</port>
	</service>
</definitions>