LB3.5.JAXWSClientWithInheritance/META-INF/wsdl/HelloService_metadata1.xsd

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://service.jaxws.itech.nure.ua/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.jaxws.itech.nure.ua/" version="1.0">
  <xs:element name="ExchangeException" type="tns:ExchangeException"></xs:element>
  <xs:element name="exchange" type="tns:exchange"></xs:element>
  <xs:element name="exchangeResponse" type="tns:exchangeResponse"></xs:element>
  <xs:element name="from" nillable="true" type="xs:string"></xs:element>
  <xs:element name="hello" type="tns:hello"></xs:element>
  <xs:element name="helloResponse" type="tns:helloResponse"></xs:element>
  <xs:complexType name="exchange">
    <xs:sequence>
      <xs:element name="value" type="xs:double"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="exchangeResponse">
    <xs:sequence>
      <xs:element name="value" type="xs:double"></xs:element>
      <xs:element minOccurs="0" name="currency" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExchangeException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>