LB3.5.JAXWSClientWithInheritance/META-INF/wsdl/HelloService.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:JAXWS="http://java.sun.com/xml/ns/jaxws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.jaxws.itech.nure.ua/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloService" targetNamespace="http://service.jaxws.itech.nure.ua/">
  <JAXWS:bindings>
    <enableAsyncMapping xmlns="http://java.sun.com/xml/ns/jaxws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">true</enableAsyncMapping>
  </JAXWS:bindings>
  <types>
    <xsd:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">
      <xsd:import namespace="http://service.jaxws.itech.nure.ua/" schemaLocation="HelloService_metadata1.xsd"></xsd:import>
    </xsd:schema>
  </types>
  <message name="hello">
    <part element="tns:hello" name="parameters"></part>
  </message>
  <message name="helloResponse">
    <part element="tns:helloResponse" name="parameters"></part>
  </message>
  <message name="exchange">
    <part element="tns:exchange" name="parameters"></part>
    <part element="tns:from" name="from"></part>
  </message>
  <message name="exchangeResponse">
    <part element="tns:exchangeResponse" name="result"></part>
  </message>
  <message name="ExchangeException">
    <part element="tns:ExchangeException" name="fault"></part>
  </message>
  <portType name="HelloMessenger">
    <operation name="hello">
      <input message="tns:hello" wsam:Action="http://service.jaxws.itech.nure.ua/HelloMessenger/helloRequest"></input>
      <output message="tns:helloResponse" wsam:Action="http://service.jaxws.itech.nure.ua/HelloMessenger/helloResponse"></output>
    </operation>
    <operation name="exchange" parameterOrder="parameters from">
      <input message="tns:exchange" wsam:Action="http://service.jaxws.itech.nure.ua/HelloMessenger/exchangeRequest"></input>
      <output message="tns:exchangeResponse" wsam:Action="http://service.jaxws.itech.nure.ua/HelloMessenger/exchangeResponse"></output>
      <fault message="tns:ExchangeException" name="ExchangeException" wsam:Action="http://service.jaxws.itech.nure.ua/HelloMessenger/exchange/Fault/ExchangeException"></fault>
    </operation>
  </portType>
  <binding name="HelloPortBinding" type="tns:HelloMessenger">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="hello">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="exchange">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body parts="parameters" use="literal"></soap:body>
        <soap:header message="tns:exchange" part="from" use="literal"></soap:header>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="ExchangeException">
        <soap:fault name="ExchangeException" use="literal"></soap:fault>
      </fault>
    </operation>
  </binding>
  <service name="HelloService">
    <port binding="tns:HelloPortBinding" name="HelloPort">
      <soap:address location="http://localhost:9090/hello"></soap:address>
    </port>
  </service>
</definitions>