LB1.XMLXSD/xml/complexTypeEmptyContent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://it.nure.ua/xmldemo/simpleContent"
	xmlns:tns="http://it.nure.ua/xmldemo/simpleContent"
	elementFormDefault="qualified">
	
	<element name="prices">
		<complexType>
			<sequence>
				<element ref="tns:uprice" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name="uprice">
		<complexType>
			<complexContent>
				<restriction base="anyType">
					<attribute name="currency" type="string" />
					<attribute name="value" type="decimal" />
				</restriction>
			</complexContent>
		</complexType>
	</element>
</schema>